body{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    transition: background 0.3s;
    font-family:'Baloo 2',cursive;
}
.cell{
    width:60px;
    height:60px;
    background:lightblue;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.size36{
    display: grid;
    grid-template: repeat(6,60px)/repeat(6,60px);
}
.size48{
    display: grid;
    grid-template: repeat(8,60px)/repeat(6,60px);
}
.size64{
    display: grid;
    grid-template: repeat(8,60px)/repeat(8,60px);
}
.heading2{
  
    gap: 5rem;
}
.powers{
    display:flex;
    gap:25px;
    margin-top:25px;
    justify-content:center;
    align-items:center;
}

.powerBtn{
    width:70px;
    height:70px;
    border:none;
    border-radius:50%;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(10px);
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.25s;
    box-shadow:0 4px 15px rgba(0,0,0,0.25);
}
.powerBtn:hover{
    transform:scale(1.08);
    background:rgba(255,255,255,0.2);
}
.powerBtn svg{
    width:35px;
    height:34px;
    fill:white;
}
.controls{
    display:flex;
    gap:18px;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}

.controls button,
.powerBtn{
    width:65px;
    height:65px;
    border:none;
    border-radius:50%;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(10px);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:0.25s;
    box-shadow:0 4px 15px rgba(0,0,0,0.25);
}

.controls button:hover,
.powerBtn:hover{
    transform:scale(1.08);
    background:rgba(255,255,255,0.2);
}

.controls svg,
.powerBtn svg{
    width:32px;
    height:32px;
    fill:white;
    pointer-events:none;
}

#backBtn:disabled,
#nextBtn:disabled{
    opacity:0.35;
    cursor:not-allowed;
}